layout {
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }

    pane split_direction="vertical" {
        pane size="55%" {
            name "agent"
        }
        pane split_direction="horizontal" size="45%" {
            pane size="15%" {
                name "git diff"
                command "watch"
                args "-n" "5" "git" "diff" "--stat"
            }
            pane size="25%" {
                name "server"
            }
            pane size="60%" {
                name "user"
            }
        }
    }

    pane size=1 borderless=true {
        plugin location="status-bar"
    }
}
