layout {
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }

    pane split_direction="vertical" {
        pane size="50%" {
            name "agent"
        }
        pane split_direction="horizontal" size="50%" {
            pane {
                name "server"
            }
            pane {
                name "user"
            }
        }
    }

    pane size=1 borderless=true {
        plugin location="status-bar"
    }
}
